@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section  
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/img1.jpg);
    background-size: cover;
    transition: background 0.5s;
}

section.dark
{
    background: url(./img/img2.jpg);
    background-size: cover;
}

.sec .content
{
    max-width: 800px;
    text-align: center;
}

.sec .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.sec .content p
{
    font-weight: 300;
    color: #fff;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container .contactInfo 
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

section.dark .container .contactInfo .box .text
{
    color: #333;
    transition: 0.5s;
    font-weight: 500;
}


.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #0019239f;
    border-radius: 5px;
}

.contactForm h2
{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    transition: 0.2s;
}

section.dark .content h2
{
    color: #00bcd4; 
    transition: 0.3s;
}

section.dark .content p
{
    color: #333; 
    font-weight: 300;
    transition: 0.4s;
}

section.dark div .contactForm form h2
{
    color: #00bcd4;

}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span 
{
    color: #00bcd4;
    font-size: 13px;
    transform: translateY(-25px);

}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .sec
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}

.toggle
{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle:before
{
    content: '\f185';
    font-family: fontAwesome;
    color: #fff;
}

section.dark .toggle::before
{
    content: '\f186';
    color: #2fa1ff;
}